.createpost{
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}

.post-header{
    display: flex;
}

.main-div{
    border-top:1px solid rgb(173, 173, 173) ;
}

.details{
border-top: 1px solid rgb(173, 173, 173);
}

#post-btn{
    border: none;
    color: #339ce3;
    font-weight: bolder;
    cursor: pointer;
}

textarea{
    width: 90%;
    border: none;
    outline: none;
}

#output{
    width: 75%;
    border: none;
    outline: none;
    margin-top: 5px;
}