.profile {
  max-width: 600px;
  margin: 10px auto;
}

.profile-frame {
  display: flex;
  justify-content: space-evenly;
}

.profile-pic {
  height: fit-content;
}

.profile-pic > img {
  width: 160px;
  height: 160px;
  object-fit: fill;
  border-radius: 100px;
}

.profile-data {
  text-align: left;
}

.profile-info {
  display: flex;
}

.profile-info p {
  padding: 0px 8px;
  text-transform: capitalize;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.gallery img {
  width: 30%;
  margin: 5px;
}
.followBtn{
  cursor: pointer;
  font-weight: bolder;
  padding: 13px 25px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: blue;
  border-radius: 15px;
  margin-left: 14px;
  transition: all 0.25s ease;
}

.followBtn:hover{
  transform: scale(1.1);
  box-shadow: 0 10px 20px -10px rgba(8, 51, 245, 0.6);
}

.changePic{
  background-color: #fff;
  border-radius: 20px;
}
.changePic div{
  padding: 15px 85px;
}
.upload-btn{
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bolder;
  font-size: 15px;
}