.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url("../Images/igpg.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .signin-form {
    text-align: center;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
  }
  
  .signin-form h1 {
    font-family: 'Billabong', cursive;
    font-size: 2.5em;
    color: #262626;
    margin-bottom: 20px;
  }
  
  .signin-form input {
    width: 100%;
    padding: 10px;
    margin: 5px -10px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    outline: none;
  }
  
  .signin-form button {
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signin-form button:hover {
    background-color: #357ABD;
  }
  